<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>
  <div class= "container" style="justify-content: left; margin-top: 5%; margin-left: 5%;" >
    <h2 class="card-title">Welcome to my Tiny Application!</h2>
    
    <p class="card-text; h5"> The purpose of this app is to make your URLs short! <br/>
      <b> key learning points are:<br/></b>
    1. Using Express<br/> 2. Handling Database<br/> 3. User registeration and login<br/> 
    4. Security enhancement using bycrypt and cookie-session</p>
    <p class= "h3">To try this out please <a href= "/register">register</a> as a new user,
      or <a href= "/login">login</a> as <u>[b@b.com 12345]</u></p>
  </div>
</body>